<section class="usersection">
  <div class="card">
    <div class="table-responsive justify-content-center">
      <h4 class=" text-center text-dark">Post Details</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="text-center">Title
              <input type="text" class="form-control text-center"
                style="width:200px;border:1px solid black;margin-left:9%;" [(ngModel)]="title"
                placeholder="Search By Title" (ngModelChange)="searchTitle()">
            </th>
            <th class="text-center">Body
              <input type="text" class="form-control text-center"
                style="width:35%;border:1px solid black;margin-left:35%;" [(ngModel)]="body"
                placeholder="Search By Body" (ngModelChange)="searchBody()">
            </th>
            <th class="text-center" style="padding-bottom:4%;">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="toDoListArray?.length === 0">
            <td class="text-center" colspan="3">No Records Available</td>
          </tr>
          <tr *ngFor="let item of toDoListArray;let i=index">
            <td class="text-center">
              {{item.title}}
            </td>
            <td class="text-center">
              {{item.body}}
            </td>
            <td class="text-center" style="cursor: pointer;">
              <div class="d-flex">
                <a class="text-dark nav-link font-weight-bold" title="Get Comments"
                  (click)="getComments(item.id)">Comments</a>&nbsp;
                <i style="padding-top:10%;" class="fa fa-trash" (click)="deletePost(item.id,item.userId)"
                  title="Delete"></i>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="cards"
      style="height:720px;width:80%;transition:0.4s;box-shadow:0 0 20px 0 black;background-color: white;margin-left:10%;"
      *ngIf="showComments">
      <h4 class=" text-center text-dark">Comments</h4>
      <div class="table-responsive justify-content-center">
        <table class="table table-striped ">
          <thead>
            <tr>
              <th class="text-center">Name</th>
              <th class="text-center">Email</th>
              <th class="text-center">Body</th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let row of comments;let i=index">
              <td class="text-center">
                {{row.name}}
              </td>
              <td class="text-center">
                {{row.email}}
              </td>
              <td class="text-center">
                {{row.body}}
              </td>
            </tr>
          </tbody>
        </table>
        <div style="padding-left:790px;padding-bottom:20%;">
          <button class="btn btn-danger btn-xs" (click)="close()">Close</button><br>
        </div>
        <br>
      </div>

    </div>
  </div>
</section>